# Homework 1:

In [ ]:
import pandas as pd
df = pd.read_csv('stackoverflow_qa.csv')
df.head()

#Find all questions that were created before 2014
df['creationdate'] = pd.to_datetime(df['creationdate'])
df_14 = df[df['creationdate'] < '2014-01-01']
df_14

#Find all questions with a score more than 50
df_50 = df[df['score']> 50]
df_50

#Find all questions with a score between 50 and 100
df_50_2 = df[(df['score']> 50) & (df['score']<100)]
df_50_2

#Find all questions answered by Scott Boston
df1 = df[df['ans_name'] == 'Scott Boston']
df1 

#Find all questions that were created between March, 2014 and October 2014 that were answered by Unutbu and have score less than 5.
df_2 = df[(df['creationdate'] > '2014-03-01') &(df['creationdate'] < '2014-10-01') 
        & (df['ans_name'] == 'Ubuntu') & (df['score']< 5)  ]
df_2

#Find all questions that have score between 5 and 10 or have a view count of greater than 10,000
df_3 = df[(df['score'] < 10) &(df['score'] > 5) 
        | (df['viewcount'] > 10000) ]
df_3

#Find all questions that are not answered by Scott Boston
filt1 = df[df['ans_name'] != 'Scott Boston']
filt1

,id,creationdate,score,viewcount,title,answercount,commentcount,favoritecount,quest_name,quest_rep,ans_name,ans_rep
0,332289,2008-12-01 21:24:44,3184,5962784,How do I change the size of figures drawn with...,14,1,0.0,tatwright,37837.0,NaN,NaN
1,2051744,2010-01-12 19:31:47,420,587728,How to invert the x or y axis,10,3,0.0,DarkAnt,4211.0,Demitri,13369.0

# Homework 2

In [ ]:
import pandas as pd
titanic_df = pd.read_csv("titanic.csv")
titanic_df.head()

#Select Female Passengers in Class 1 with Ages between 20 and 30: Extract a DataFrame containing female passengers in Class 1 with ages between 20 and 30.
t_df_1 = titanic_df[(titanic_df["Sex"] == "female") & (titanic_df["Pclass"] == 1) & (titanic_df["Age"].between(20, 30))]
t_df_1

#Filter Passengers Who Paid More than $100: Create a DataFrame with passengers who paid a fare greater than $100.
t_df_2 = titanic_df[titanic_df["Fare"] > 100 ]
t_df_2

#Select Passengers Who Survived and Were Alone: Filter passengers who survived and were traveling alone (no siblings, spouses, parents, or children).
t_df_3 = titanic_df[(titanic_df["Survived"] == 0) & (titanic_df["SibSp"] == 0) & (titanic_df["Parch"] == 0)]
t_df_3

#Filter Passengers Embarked from 'C' and Paid More Than $50: Create a DataFrame with passengers who embarked from 'C' and paid more than $50.
t_df_4 = titanic_df[(titanic_df["Embarked"] == 'C') & (titanic_df["Fare"] > 50)]
t_df_4

#Select Passengers with Siblings or Spouses and Parents or Children: Extract passengers who had both siblings or spouses aboard and parents or children aboard.
t_df_5 = titanic_df[(titanic_df["SibSp"] == 1) & (titanic_df["Parch"] == 1)]
t_df_5

#Filter Passengers Aged 15 or Younger Who Didn't Survive: Create a DataFrame with passengers aged 15 or younger who did not survive.
t_df_6 = titanic_df[(titanic_df["Survived"] == 1) & (titanic_df["Age"] <= 15)]
t_df_6

#Select Passengers with Cabins and Fare Greater Than $200: Extract passengers with known cabin numbers and a fare greater than $200.
t_df_7 = titanic_df[(titanic_df["Cabin"].notna()) & (titanic_df["Fare"] > 200)]
t_df_7

#Filter Passengers with Odd-Numbered Passenger IDs: Create a DataFrame with passengers whose PassengerId is an odd number.
t_df_8 = titanic_df[titanic_df["PassengerId"] %2 == 1]
t_df_8

KeyError: "None of [Index(['A/5 21171', 'PC 17599', 'STON/O2. 3101282', '113803', '373450',\n       '330877', '17463', '349909', '347742', '237736',\n       ...\n       '349212', '349217', '349257', '7552', 'C.A./SOTON 34068',\n       'SOTON/OQ 392076', '211536', '112053', '111369', '370376'],\n      dtype='object', length=681)] are in the [columns]"