Homework1:

1. Create a tuple literal named cardinal_numbers that holds the strings
"first", "second", and "third", in that order.
2. Using index notation and print(), display the string at index 1 in
cardinal_numbers.
3. In a single line of code, unpack the values in cardinal_numbers into
three new strings named position1, position2, and position3. Then
print each value on a separate line.
4. Using tuple() and a string literal, create a tuple called my_name that
contains the letters of your name.
5. Check whether the character "x" is in my_name using the in keyword.
6. Create a new tuple containing all but the first letter in my_name using
slice notation.

In [6]:
cardinal_numbers = ("first","second", "third")

print(cardinal_numbers[1])

position1, position2, position3 = cardinal_numbers
print(position1)
print(position2)
print(position3)

my_name = ("i","n","d","i","r","a")
if 'x' in my_name:
    print("The character 'x' is in the name.")
else:
     print("The character 'x' is not in the name.")

new_name = my_name[1:]
print(new_name)

second
first
second
third
The character 'x' is not in the name.
('n', 'd', 'i', 'r', 'a')

Homework2:

In [1]:
#1. Create a list named food with two elements, "rice" and "beans".
food = ["rice", "beans"]

#2. Append the string "broccoli" to food using .append().
food.append("broccoli")
print(food)

#3. Add the strings "bread" and "pizza" to food using .extend().
food.extend(["bread", "bread"])
print(food)

#4. Print the first two items in the food list using print() and slice no tation.
print(food[0:2])

#5. Print the last item in food using print() and index notation.
print(food[-1])
#6. Create a list called breakfast from the string "eggs, fruit, orange juice" using the string .split() method.
string = "eggs, fruit, orange juice"
breakfast = string.split(",")
print(breakfast)

#7. Verify that breakfast has three items using len().
print(len(breakfast))

['rice', 'beans', 'broccoli']
['rice', 'beans', 'broccoli', 'bread', 'bread']
['rice', 'beans']
bread
['eggs', ' fruit', ' orange juice']
3

Homework 3

In [2]:
#Given two integer variables: a and b. Swap the values of the variables.
a = int(input())
b = int(input())
# write code here. Don't change given conditions
temp = a
a=b
b=temp
print(a, b)

5 3

practice for lists:level1
task1

In [3]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
fruits.extend(["grape", "kiwi"])
print(fruits)

['apple', 'banana', 'cherry', 'orange', 'grape', 'kiwi']

task2

In [5]:
numbers = [10, 20, 40, 50]
numbers.insert(2, 30)
print(numbers)

[10, 20, 30, 40, 50]

task3

In [7]:
colors = ["red", "green", "blue", "yellow", "blue"]
colors.remove("blue")
print(colors)

['red', 'green', 'yellow', 'blue']

task4

In [9]:
animals = ["cat", "dog", "bird", "fish"]
print(animals.index("bird"))

2

In [12]:
# task5
nums = [1, 2, 3, 4, 1, 2, 1]
print(nums.count(1))

3

In [13]:
# task6
integers = [5, 10, 15, 20, 25]
integers.reverse()
print(integers)

[25, 20, 15, 10, 5]

In [15]:
# task7
n = [7, 3, 9, 1, 5]
n.sort()
print(n)
n.sort()
n.reverse()
print(n)

[1, 3, 5, 7, 9]
[9, 7, 5, 3, 1]

In [17]:
# task8
cities = ["New York", "Paris", "Tokyo", "Sydney"]
copy_cities = cities.copy()
cities.append("Tashkent")
print(copy_cities)
print(cities)

['New York', 'Paris', 'Tokyo', 'Sydney']
['New York', 'Paris', 'Tokyo', 'Sydney', 'Tashkent']

In [19]:
# task9
r_numbers = [8, 4, 6, 2, 9]
r_numbers.clear()
print(r_numbers)

[]

In [23]:
# task10
months = ["January", "February", "March", "April", "May"]
last_element = months.pop()
print(last_element)
second_element = months.pop(1)
print(second_element)

May
February

# level2

In [25]:
# task1
random_nums = [7, 8, 3, 2, 9]
random_nums.append(19)
random_nums[1] = 5
random_nums.pop(2)
print(random_nums)

[7, 5, 2, 9, 19]

In [27]:
# task2
ls = [15, 2, 78, 34, 7, 90]
max_value = max(ls)
min_value = min(ls)
print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 90
Minimum value: 2

In [29]:
# task3
ls1 = [10, 20, 30, 40, 50]
sum_ls1 = sum(ls1)
avg_ls1 = sum_ls1 / len(ls1)
print("Sum of lists:", sum_ls1)
print("Average of lists:", avg_ls1)

Sum of lists: 150
Average of lists: 30.0

In [31]:
# task4
strings = ["banana", "apple", "cherry", "date"]
strings.sort()
print(strings)
strings.sort()
strings.reverse()
print(strings)

['apple', 'banana', 'cherry', 'date']
['date', 'cherry', 'banana', 'apple']

# practice for tuples

In [33]:
# task1
tuple1 = 7, "string", 2.3, True, [2, 3, 7, 8]
print(tuple1)

(7, 'string', 2.3, True, [2, 3, 7, 8])

In [34]:
# task2
tuple2 = ("apple", "banana", "cherry", "date")
print(tuple2[1])
print(tuple2[-1])

banana
date

In [37]:
tuple3 = (10, 20, 30, 40, 50, 60)
print(tuple3[1:4])

(20, 30, 40)

In [38]:
# task4
tuple4 = ("red", "green", "blue", "yellow")

In [39]:
# task5
tuple5 = (1, 2, 3, 4, 5, 6)
print(len(tuple5))

6

In [41]:
# task6
tuple6_1 = ("a", "b", "c")
tuple6_2 = (1, 2, 3)
tuple6 = tuple6_1 + tuple6_2
print(tuple6)

('a', 'b', 'c', 1, 2, 3)

In [42]:
# task7
tuple7 = (1, 2, 2, 3, 4, 4, 4, 5)
print(tuple7.count(4))

3

In [44]:
# task8
tuple8 = ("cat", "dog", "bird", "fish")
print(tuple8.index("dog"))

1

In [46]:
# task9
tuple9 = ("Python", 3.10, "Programming")
var1, var2, var3 = tuple9
print(var1)
print(var2)
print(var3)

Python
3.1
Programming