Homework 1:

import pandas as pd

data = {'First Name': ['Alice', 'Bob', 'Charlie', 'David'], 'Age': [25, 30, 35, 40], 'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']} df = pd.DataFrame(data)

Rename column names using function. "First Name" --> "first_name", "Age" --> "age
Print the first 3 rows of the DataFrame
Find the mean age of the individuals
Select and print only the 'Name' and 'City' columns
Add a new column 'Salary' with random salary values
Display summary statistics of the DataFrame

In [20]:
import pandas as pd
data = {'First Name': ['Alice', 'Bob', 'Charlie', 'David'], 'Age': [25, 30, 35, 40], 'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']} 
df = pd.DataFrame(data)

#Rename column names using function. "First Name" --> "first_name", "Age" --> "age
df = df.rename(columns={'First Name': 'first_name', 'Age': 'age'})
df 

#Print the first 3 rows of the DataFrame
print(df.head(3))

#Find the mean age of the individuals
print( df["age"].mean())

#Select and print only the 'Name' and 'City' columns
print(df[["first_name", "City"]])

#Add a new column 'Salary' with random salary values
df["Salary"] = [2000, 4000, 5000, 7000]
df

#Display summary statistics of the DataFrame
df.describe()

  first_name  age           City
0      Alice   25       New York
1        Bob   30  San Francisco
2    Charlie   35    Los Angeles
32.5
  first_name           City
0      Alice       New York
1        Bob  San Francisco
2    Charlie    Los Angeles
3      David        Chicago

             age       Salary
count   4.000000     4.000000
mean   32.500000  4500.000000
std     6.454972  2081.665999
min    25.000000  2000.000000
25%    28.750000  3500.000000
50%    32.500000  4500.000000
75%    36.250000  5500.000000
max    40.000000  7000.000000

# Homework 2:

In [ ]:
#Create a DataFrame named sales_and_expenses with columns 'Month', 'Sales', and 'Expenses', representing monthly sales and expenses data. Use below table.
data = {"Month": ["Jan","Feb","Mar","Apr"], 
        "Sales": [5000,6000,7500,8000],
        "Expenses": [3000, 3500, 4000, 4500]
      }

df = pd.DataFrame(data)
df

#Calculate and display the maximum sales and expenses.
print("Maximum sales",df["Sales"].max())
print("Maximum expenses",df["Expenses"].max())

#Calculate and display the minimum sales and expenses.
print("Minimum sales",df["Sales"].min())
print("Minimum expenses",df["Expenses"].min())

#Calculate and display the average sales and expenses.
print("Average sales",df["Sales"].mean())
print("Average expenses",df["Expenses"].mean())

Maximum sales 8000
Maximum expenses 4500
Minimum sales 5000
Minimum expenses 3000
Average sales 6625.0
Average expenses 3750.0

# Homework 3

In [34]:
#Create a DataFrame named expenses with columns 'Category', 'January', 'February', 'March', and 'April', representing monthly expenses for different categories. Use below table.
data = {"Category": ["Rent","Utilities","Groceries","Entertainment"], 
        "January": [1200,200,300,1500],
        "February": [1300, 220, 320, 160],
        "March": [1400, 240, 330, 170],
        "April": [1500, 250, 350, 180]
      }

df = pd.DataFrame(data)
df

#Calculate and display the maximum expense for each category..
df.set_index("Category", inplace=True)
print(df.max(axis=1))

#Calculate and display the minimum expense for each category.
print(df.min(axis=1))

#Calculate and display the average expense for each category.
print(df.mean(axis=1))

Category
Rent             1500
Utilities         250
Groceries         350
Entertainment    1500
dtype: int64
Category
Rent             1200
Utilities         200
Groceries         300
Entertainment     160
dtype: int64
Category
Rent             1350.0
Utilities         227.5
Groceries         325.0
Entertainment     502.5
dtype: float64