In [8]:
# task 1
txt = list(input("Enter a string: "))
new_txt = ''
i=0
for letter in txt:
    new_txt += letter
    if i == 2:
        new_txt += '_'
    i += 1
print(new_txt)

hel_lo

In [9]:
# task2
list1 = [1, 1, 2]
list2 = [2, 3, 4]
new_list = []
for i in list1:
    if i not in list2:
        new_list.append(i)
for j in list2:
    if j not in list1:
        new_list.append(j)
print(new_list)

[1, 1, 3, 4]

The provided code stub reads an integer, n , from STDIN. For all non-negative integers i <n , print i2.

In [ ]:
num = int(input("Enter a number less than 50: "))
for i in range(50):
    if i==num:
        break
    else:
        print(i**2)

0
1
4
9
16
25

Print first 10 natural numbers using while loop

In [14]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

Print the following pattern

In [15]:
for i in range(1, 6):
    for j in range(1, i+1):
        print(j, end=' ')
    print(' ')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

Calculate sum of all numbers from 1 to a given number

In [17]:
sum = 0
n = int(input('Enter a number: '))
for i in range(1, n+1):
    sum += i
print(sum)

15

Print multiplication table of a given number

In [19]:
n1 = int(input('Enter a number: '))
for i in range(1, 11):
    print(i,"*",n1,"=",i*n1)

1 * 3 = 3
2 * 3 = 6
3 * 3 = 9
4 * 3 = 12
5 * 3 = 15
6 * 3 = 18
7 * 3 = 21
8 * 3 = 24
9 * 3 = 27
10 * 3 = 30

Display numbers from a list using a loop

In [20]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for num in numbers:
    if num>500:
        break
    elif num%5 ==0 and num<=150:
        print(num)

75
150
145

Count the total number of digits in a number

In [21]:
n2 = int(input('Enter a number: '))
counter = 0
while n2!=0:
    n2//=10
    counter+=1
print(f'number of digits: {counter}')

number of digits: 2

Print the following pattern

In [22]:
for i in range(1, 6):
    for j in range(6-i, 0, -1):
        print(j, end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1