# Homework 1

In [5]:
import pandas as pd
df = pd.read_csv('sales_data.csv')
df.head()

# Total quantity sold
total_quantity = df.groupby("Category")["Quantity"].sum()
total_quantity

# Average price per unit
avg_price = df.groupby("Category")["Price"].mean()
avg_price

# Maximum quantity sold in a single transaction
max_quantity = df.groupby("Category")["Quantity"].max()

# Identify the top-selling product in each category based on the total quantity sold.
top_selling_product = df.groupby(["Category", "Product"])["Quantity"].sum().reset_index()
top_selling_product = top_selling_product.loc[top_selling_product.groupby("Category")["Quantity"].idxmax()]
top_selling_product

# Find the date on which the highest total sales (quantity * price) occurred.
df["Total_Sales"] = df["Quantity"] * df["Price"]
top_sales_date = df.groupby("Date")["Total_Sales"].sum().idxmax()
top_sales_date

'2023-01-07'

Homework 2: Examining Customer Orders

In [ ]:
df_orders = pd.read_csv('customer_orders.csv')
df_orders.head()

#Group the data by CustomerID and filter out customers who have made less than 20 orders.
df_filtered = df_orders[df_orders["CustomerID"].map(df_orders["CustomerID"].value_counts()) >= 20]  
df_filtered  

#Identify customers who have ordered products with an average price per unit greater than $120.
df2 = df_orders[df_orders["CustomerID"].isin(df_orders.groupby("CustomerID")["Price"].mean()[lambda x: x > 120].index)]  
df2

#Find the total quantity and total price for each product ordered, and filter out products that have a total quantity less than 5 units.
df3 = df_orders.groupby("Product").agg({"Quantity": "sum", "Price": "sum"}).query("Quantity >= 5")  
df3

                  Quantity  Price
Product
Cargo Pants              6    120
Dress Shirt              5     50
Formal Shirt             6    105
Smartphone               5    800
Sport Shoes              5    120
Sunglasses               5     60
Wireless Earbuds         6    360

Homework Assignment 3: Population Salary Analysis